<!DOCTYPE html>
<html>
<head>
	<title>sign up</title>
	<link rel='stylesheet' href='/stylesheets/styleSignUp.css' />

</head>
<body>
	<div class="menu">
		<a class="active" href="/">Home</a>
		<a href="/viewBlog">Blogs</a>

	<a href="/about">About</a>
	<a href="/signUp">Sign Up</a>
	<a href="/login">Login</a>
</div>
	<h1>Sign Up for FREE!! </h1>
	<div class="container">
		<form class="form" method="post" action="/signUp">
			Username:<input id="username" name="username" type="text"/><br>
			Password:<input id="password" name="password" type="password"/><br>
			Re-password:<input id="re-password" name="re-password"  type="password"/><br><br>
			<button type="submit">Sign Up</button>
		</form>
	</div>
</body>
</html>
